<div
  class="create-task-form"
  [formGroup]="newTaskForm"
  (keyup.enter)="createTask()"
  (keyup.escape)="expandTaskCreationHandler.emit()"
>
  <mat-form-field appearance="outline" class="mt-3">
    <mat-label>Your task</mat-label>
    <input autocomplete="off" formControlName="name" matInput placeholder="E.g. Buy something" #name="matInput">
  </mat-form-field>

  <div class="inline-buttons">
    <button
      [disabled]="!newTaskForm.valid"
      (click)="onSubmit()"
      mat-button color="primary"
    >
      Create
    </button>
    <button
      mat-button
      color="accent"
      (click)="expandTaskCreationHandler.emit()">
      Cancel
    </button>
    <div class="left">
      <div style="display: flex;">
        <div style="display: flex; align-items: baseline">
          <span style="margin-right: 0.5rem;">Assign to:</span>
          <mat-form-field style="width: 10rem;">
            <mat-select>
              <mat-select-trigger>
                <span>  {{selectedUser ? selectedUser.fullName : ''}} </span>
              </mat-select-trigger>
              <mat-option *ngFor="let user of users" (click)="changeSelectedUser(user)" [value]="user.fullName">
                <mat-icon>perm_identity</mat-icon>
                {{user.fullName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
</div>
