ul li {
  list-style: none;
}

mat-toolbar-row {
  -webkit-box-shadow: 0px 8px 22px -11px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 8px 22px -11px rgba(0,0,0,0.75);
  box-shadow: 0px 8px 22px -11px rgba(0,0,0,0.75);
}

mat-toolbar {
  background-color: #3d3d3d;
  color: #fff;
}

.mat-toolbar {
  min-height: 50px !important;
  height: 50px !important;
}

.mat-toolbar-row {
  min-height: 50px !important;
  height: 50px !important;
}
