<mat-toolbar class="mat-toolbar">
  <mat-toolbar-row class="mat-toolbar-row">
    <div *ngIf="isButtonDisplayed">
      <button mat-icon-button (click)="toggleSideBar()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <div fxFlex fxLayout="row" fxLayoutAlign="flex-start">
      <button mat-icon-button (click)="navigateHome()">
        <mat-icon matTooltip="Homepage">home</mat-icon>
      </button>
    </div>

    <div>
      <ul fxLayout="row" fxLayoutGap="10px">
        <li>
          <button mat-icon-button (click)="quickTodoAddHandler()">
            <mat-icon matTooltip="Quick add new task">add</mat-icon>
          </button>
        </li>
        <li matTooltip="Aura">
          <button #menuTrigger="matMenuTrigger" mat-icon-button [matMenuTriggerFor]="auraMenu" (click)="openAuraMenu()">
            <mat-icon>self_improvement</mat-icon>
          </button>
          <mat-menu class="settings-menu" #auraMenu="matMenu">
            <app-aura-menu *ngIf="matMenuTrigger.menuOpen"></app-aura-menu>
          </mat-menu>
        </li>
        <li>
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>settings</mat-icon>
          </button>
          <mat-menu class="settings-menu" #menu="matMenu">
            <div class="menu-wrapper">
              <button (click)="navigateAccountPage()" mat-menu-item>
                <mat-icon>account_circle</mat-icon>
                Account
              </button>
              <button (click)="logout()" mat-menu-item>
                <mat-icon>help</mat-icon>
                Help
              </button>
              <button mat-menu-item>
                <mat-slide-toggle
                  #toggleElement
                  [checked]="checked"
                  (change)="toggleNightMode($event)"
                >Night mode
                </mat-slide-toggle>
              </button>
              <button (click)="logout()" mat-menu-item>
                <mat-icon>autorenew</mat-icon>
                Update log
              </button>
              <button (click)="logout()" mat-menu-item>
                <mat-icon>exit_to_app</mat-icon>
                Sign out
              </button>
              <mat-divider></mat-divider>
              <div class="apps">
                <span>Apps</span>
                <div class="platform-icons">
                  <mat-icon matTooltip="Android" class="android">android</mat-icon>
                  <mat-icon matTooltip="Desktop" color="primary">computer</mat-icon>
                </div>
              </div>
              <mat-divider></mat-divider>
              <div class="app-version">
                <img src="assets/logo_transparent_2.png" alt="" height="70">
                <span>App version 0.1</span>
              </div>
            </div>
          </mat-menu>
        </li>
      </ul>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
