ul li {
  list-style: none;
}

mat-toolbar-row {
  //-webkit-box-shadow: 0 8px 22px -11px rgba(0, 0, 0, 0.75);
  //-moz-box-shadow: 0 8px 22px -11px rgba(0, 0, 0, 0.75);
  //box-shadow: 0 8px 22px -11px rgba(0, 0, 0, 0.75);
}

mat-toolbar {
  //background-color: #3d3d3d;
  color: grey;
}

.mat-toolbar {
  min-height: 50px !important;
  height: 50px !important;
}

.mat-toolbar-row {
  min-height: 50px !important;
  height: 50px !important;
}

.app-version {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;

  & span {
    font-size: 1.4rem;
  }
}

.apps {
  margin-top: 1rem;
  margin-bottom: 1rem;

  & span {
    font-size: 1.4rem;
    margin-left: 2rem;
  }
}

.platform-icons {
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;

  .android {
    color: #3DDC84;
  }
}

.settings-menu {
  margin-right: 1rem;
}

.notification-menu {
  width: 30rem;
}

::ng-deep.mat-menu-panel {
  max-width: none !important;
}

.menu-wrapper {
  width: 20rem;
}

.aura-btn {
  display: flex;
  align-items: center;
}
