<button *ngIf="!areStatisticsShown" mat-icon-button (click)="toggleChart()">
  <mat-icon>timeline</mat-icon>
</button>
<button *ngIf="areStatisticsShown" mat-icon-button (click)="toggleChart()">
  <mat-icon>done</mat-icon>
</button>
<button mat-icon-button (click)="toggleCollaboratorsWindow($event)">
  <mat-icon>add</mat-icon>
</button>
<button mat-icon-button class="settings-button" (click)="toggleSettingsDialog($event)">
  <mat-icon>settings</mat-icon>
</button>
<button mat-icon-button class="settings-button" (click)="toggleNotificationSection($event)">
  <mat-icon>notifications</mat-icon>
</button>
