<div class="main__container">
  <div [formGroup]="newPasswordForm" class="center__container">
    <div class="email__container">
      <h1>New Password</h1>

      <h3>Enter the new password</h3>

      <mat-form-field appearance="outline">
        <mat-label>New password</mat-label>
        <!-- <mat-hint>New password hould contain 8 characters, at least 1 digit</mat-hint> -->
        <input
          matInput
          placeholder="Enter new password"
          type="password"
          formControlName="newPassword"
        />
        <mat-hint>Should contain 8 characters, at least 1 digit</mat-hint>
        <mat-error *ngIf="newPasswordForm.invalid && newPasswordForm.touched">
          Invalid password.
        </mat-error>
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline">
        <mat-label>Repeat password</mat-label>
        <input matInput type="password" formControlName="repeatNewPassword" />
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        [disabled]="!newPasswordForm.valid"
        (click)="submitHandler()"
      >
        Confirm
      </button>
    </div>
  </div>
</div>
