<h3 class="title">
  <span>Overall Project Analysis</span>
  <mat-icon>multiline_chart</mat-icon>
</h3>

<div class="latest-activity-wrapper">
  <div class="chart">
    <div class="select">
      <h3>Project chart</h3>
    </div>

    <mat-divider></mat-divider>
    <highcharts-chart
      [Highcharts]="Highcharts"
      [options]="chartOptions"
      [(update)]="updateFromInput"
      style="height: 85%; display: block;"
    >
    </highcharts-chart>
  </div>

  <div class="divider">
    <mat-divider vertical class="vertical-divider"></mat-divider>
  </div>

  <div class="project-activity">
    <h3>Project activity</h3>
    <mat-divider></mat-divider>
    <div class="last-task-wrapper" *ngFor="let task of lastTasks;">
      <div class="last-task-item">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d3/Microsoft_Account.svg/1200px-Microsoft_Account.svg.png"
          height="50" alt="">
      </div>
      <div class="task-wrapper">
        <div class="task-options">
          <b>{{task.userName}}</b>
          <span>{{task.dateTime | date:'dd.MM.yy | h:mma'}}</span>
        </div>
        <div class="task-project-line">
          <span matTooltip="Navigate to project">
            <a [routerLink]="['/project', task.projectId]">
              <i>{{task.projectName}}: </i>
            </a>
          </span>
          <span><b>{{task.task}}</b></span>
        </div>
      </div>
    </div>
    <button mat-stroked-button (click)="projectButtonHandler()" class="projects-button">
      <mat-icon>near_me</mat-icon>
      <span>Go to projects page</span>
    </button>
  </div>
</div>
