@mixin align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  font-size: 1.6rem;
  width: 20rem;
  padding: 1rem;
}

.spinner-wrapper {
  width: 20rem;
  padding: 1rem;
  @include align-center;
  height: 20rem;
}
