a {
  text-decoration: none;
  color: #fff;
  transition: all .2s ease-in-out;
}

a:hover,
a:active {
  color: lightgray;
}

.logo {
  display: flex;
  justify-content: center;
}

.nav-caption {
  margin-left: 1rem;
}
