<h1 mat-dialog-title>
  <mat-icon color="primary">people</mat-icon>
  <span>Add collaborator</span></h1>
<mat-dialog-content>
  <div class="content-wrapper">
    <form [formGroup]="addContributorForm" *ngIf="!isSent">
      <mat-form-field appearance="standard">
        <mat-label>Collaborator's email</mat-label>
        <input formControlName="email" matInput placeholder="Email">
      </mat-form-field>
      <div class="error-message" *ngIf="errorMessage.isShown">{{errorMessage.message}}</div>
    </form>

    <div *ngIf="isSent" class="email-sent" [@fadeInOut]>
      <mat-icon color="primary">check</mat-icon>
      Email successfully sent to a new collaborator.
    </div>
  </div>

</mat-dialog-content>
<mat-dialog-actions>
  <div class="inline-buttons">
    <button class="inline-button" mat-raised-button color="accent" [mat-dialog-close]="false">Close</button>
    <button
      *ngIf="!isSent"
      class="inline-button"
      [disabled]="!addContributorForm.valid"
      mat-raised-button color="primary"
      (click)="onSend()"
    >
      Send an invitation
    </button>
  </div>
</mat-dialog-actions>
