<div class="no-tasks">
  <img
    height="200"
    src="https://www.pinclipart.com/picdir/big/220-2203662_man-with-smartphone-illustration-smartphone-person-dribbble-clipart.png">
  <div class="text">
    <span class="title">No statistics.</span>
    <br>
    <span>Try adding some tasks & projects to see statistics.</span>
  </div>

  <div class="add-task">
    <button mat-stroked-button color="primary">Add task</button>
    <button mat-stroked-button (click)="toggleProjectCreationDialog()" color="primary">Add project</button>
  </div>
</div>


<div class="help-no-tasks">
  <button mat-button>
    <mat-icon>help_outline</mat-icon>
    <span>How to best use the tasks</span>
  </button>
</div>

<mat-divider></mat-divider>
