<div class="alerts-wrapper">

  <h3>Notifications</h3>
  <mat-divider></mat-divider>

  <span *ngIf="projectAlerts.length === 0" class="no-alerts">No notifications for this project. Maybe it is time to add one?</span>

  <div>
    <div [class]="'alert ' + alert.type" *ngFor="let alert of projectAlerts">
      <strong>{{alert.authorName}}: &nbsp;</strong> {{alert.message}}
      <span class="date">{{alert.date}}
        <mat-icon matTooltip="Expiration date">today</mat-icon>
        <mat-icon class="edit-btn" matTooltip="Edit" (click)="onUpdate(alert)">edit</mat-icon>
        <mat-icon class="close-btn" matTooltip="Remove" (click)="onDelete(alert.id)">close</mat-icon>
      </span>
    </div>
  </div>

  <div class="inline-buttons">
    <button mat-raised-button (click)="backAction.emit()" class="back-button">
      <mat-icon>keyboard_backspace</mat-icon>
      <span>Back</span>
    </button>
    <button mat-raised-button (click)="onCreate()">
      <mat-icon>add</mat-icon>
      <span>Add new</span>
    </button>
  </div>
</div>
