<!--<div style="width: 100%; display: flex; justify-content: center; align-items: center; flex-direction: column">-->
<!--  <h3>Project activity</h3>-->
<!--  <mat-divider></mat-divider>-->
<!--  <div style="display: flex; align-items: center; margin-top: 1rem;" *ngFor="let task of lastTasks;">-->
<!--    <div style="font-size: 5rem; display: flex; align-items: center;">-->
<!--      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d3/Microsoft_Account.svg/1200px-Microsoft_Account.svg.png" height="50" alt="">-->
<!--    </div>-->
<!--    <div style="margin-left: 1rem;">-->
<!--      <div style="display: flex;">-->
<!--        <b>{{task.fullName}}</b>-->
<!--        <span style="font-family: 'Roboto',serif; font-size: 1.3rem; margin-left: auto;">{{task.date}}</span>-->
<!--      </div>-->
<!--      <div style="min-width: 40rem;margin-top: 1%;">-->
<!--        <span><i>{{task.project}}: </i> </span>-->
<!--        <span><b>{{task.task}}</b></span>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <button mat-stroked-button class="projects-button">-->
<!--    <mat-icon>near_me</mat-icon>-->
<!--    <span>Go to projects page</span>-->
<!--  </button>-->
<!--</div>-->
