<div class="main__container">
  <div class="center__container">
    <div [formGroup]="emailForm" class="password__container">
      <h1 *ngIf="!isSent">Forgot password?</h1>
      <h1 class="fade-in" *ngIf="isSent">Email successfully sent</h1>

      <mat-form-field appearance="outline" hideRequiredMarker *ngIf="!isSent">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email"/>
        <mat-hint>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        </mat-hint>
        <mat-error *ngIf="emailForm.invalid && emailForm.touched">
          Oh sh*t! Here we go again!
        </mat-error>
      </mat-form-field>

      <mat-form-field  class="fade-in" appearance="outline" hideRequiredMarker *ngIf="isSent">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, unde?</p>
      </mat-form-field>

      <button
        *ngIf="!isSent"
        mat-raised-button
        [disabled]="!emailForm.valid"
        (click)="onSubmit()"
        color="primary"
      >
        Send
      </button>
    </div>
  </div>
</div>
