<div class="wrapper">
  <h1 mat-dialog-title>Quick add task</h1>

  <div mat-dialog-content [formGroup]="todoForm">
    <mat-form-field>
      <mat-label>Task name</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
  </div>

  <div mat-dialog-actions align="end">
    <button mat-raised-button [mat-dialog-close]="false" color="accent">Close</button>
    <button mat-raised-button [mat-dialog-close]="false" color="primary" [disabled]="!todoForm.valid">Create</button>
  </div>
</div>
