.chart-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;

  & highcharts-chart {
    display: block;
  }

  & mat-divider {
    width: 100%;
  }

  & .timeline {
    margin-top: 2%;
    width: 100%;
  }
}

.no-statistics {
  position: absolute;
  top: 25%;
  text-align: center;
  font-size: 2.5rem;
  margin: 0 auto;
  width: 100%;

  & img {
    height: 125px;
  }
}

highcharts-chart {
  fill: transparent;
}

.statistics {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  width: 100%;

  & div {
    display: flex;
    align-items: center;
    padding: 1rem;
  }

  & .numbers {
    flex: 0 0 30%;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
  }
}

@media screen and (max-width: 1300px) {
  .statistics {
    display: initial;

    & div {
      justify-content: center;
    }

    & .numbers {
      align-items: center;
    }
  }
}

@media screen and (max-width: 350px) {
  .statistics .numbers {
    align-items: baseline !important;
  }
}


