@import '~@angular/material/theming';

@include mat-core();

$inside-primary: mat-palette($mat-blue, 800);
$inside-accent: mat-palette($mat-red);
$inside-warn: mat-palette($mat-grey, 700);
$inside-theme-dark: mat-dark-theme($inside-primary, $inside-accent, $inside-warn);
$inside-theme-light: mat-light-theme($inside-primary, $inside-accent, $inside-warn);

.color-scheme-dark {
  @include angular-material-theme($inside-theme-dark);

  mat-toolbar {
    //background-color: #3d3d3d !important;
  }

  mat-drawer-content {
    background-color: #303030 !important;
  }

  .main-logo {
    filter: invert(1) !important;
  }

  *:not(.sidebar-icon):not(mat-icon) {
    color: #fff !important;
  }

  .is-active {
    background-color: #3DDC84 !important;
  }
}

.color-scheme-light {
  @include angular-material-theme($inside-theme-light);

  mat-toolbar {
    //background-color: #3d3d3d !important;;
    //color: #fff !important;
    //background-color: #f3f4f6 !important3d3d3d;
    background-color: #f2f3f1 !important;
    color: #555555 !important;
  }

  mat-drawer {
    background-color: #f2f3f1 !important;
  }
}

html, body {
  height: 100%;
  font-size: 10px;
}

body {
  margin: 0;
}

.full-width-dialog .mat-dialog-container {
  max-width: 100vw !important;
}

.mt-5 {
  margin-top: 5%;
}

.mt-3 {
  margin-top: 3%;
}

.content {
  //background: #eee;
  //border-top-left-radius: 5rem;
  //border-top-right-radius: 5rem;
  //height: 100%;
  padding: 20px 20px 20px 30px;
}
